<h2>Edit Franchise fee</h2>

<%= render "form.html", Map.put(assigns, :action, franchise_fee_path(@conn, :update, @franchise_fee)) %>

<span><%= link "Back", to: franchise_fee_path(@conn, :index) %></span>
